*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
/* AJUSTE DO CABEÇALHO DO SITE */
header{
  background-color: #00cad1;
}

#topo { 
  height: 8vh;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}

.links-topo {
  padding: 10px;
  margin-left: 15px;
}

.links-topo ul {
  display: flex;
}

.links-topo ul li {
  margin: 0 10px;
  list-style: none;
}

.links-topo a {
  color: #fff;
  text-decoration: none;
}
/* FIM AJUSTE CABEÇALHO DO SITE */

/* INÍCIO CONTEÚDO PRINCIPAL */
main .recepcao {
  width: 100vw;
  height: 92vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-size: cover;
  text-transform: uppercase;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  background-image: url(../assets/img/recepcao.png);
}

.recepcao div {
  max-width: 1024px;
}

.recepcao h1 {
  width: 30vw;
  height: 45vh;
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
}
/* FECHANDO CONTEÚDO PRINCIPAL */

/* INÍCO CONTEÚDO SOBRE */
#sobre {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  flex-direction: column;
}

.sobre-titulo {
   text-align: center;
   font-size: 1.2rem;
   padding: 30px 30px 0px 30px;
   color: gray;
}

.sobre-titulo p {
  padding: 30px;
}

.sobre-lista {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-lista ul {
  padding: 20px;
  margin-left: 20px;
}

.sobre-lista h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.sobre-lista img {
  width: 25%;
}
/* FIM DO CONTEÚDO SOBRE */

/* INÍCIO CONTEÚDO ESPECIALIDADES */
.especialidades {
  color: gray;
  margin: 0 auto;
  max-width: 1024px;
}

.titulo-especialidades {
  display: flex;
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: center;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  box-shadow: 1px 1px 10px grey;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #CCC;
}

.card img{
  width: 100%;
}

.card p {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.link-horarios {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.link-horarios a {
  width: 110px;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #00cad1;
  border: 1px solid #00cad1;
  border-radius: 2px 2px;
}
/* FIM CONTEÚDO ESPECIALIDADES */

/* INÍCO CONTEÚDO CONTATO */
#contato {
  color: gray;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.contato-content {
  margin: 0 auto;
  max-width: 1024px;
  line-height: 2.0rem;
  text-align: center;
}

iframe {
  margin: 0 auto;
  margin-bottom: 70px;
}
/* FIM CONTEÚDO CONTATO */

/* INÍCIO RODAPÉ */
.footer {
  background-color: #0d6e71;
  display: flex;
}
/* FIM RODAPÉ */
