*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
/* AJUSTE DO CABEÇALHO DO SITE */
header{
  background-color: #00cad1;
}

#topo { 
  height: 8vh;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}

.links-topo ul {
  display: flex;
}

.links-topo ul li {
  margin: 0 10px;
  list-style: none;
}

.links-topo a {
  color: #fff;
  text-decoration: none;
}

.links-topo a:hover {
  color:#0d6e71;
}
/* FIM AJUSTE CABEÇALHO DO SITE */

/* INÍCIO CONTEÚDO PRINCIPAL */
main .recepcao  {
  width: 100vw;
  height: 92vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  background-image: url(../assets/img/recepcao.png);
}

.recepcao div {
  max-width: 1024px;
}

.recepcao h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: uppercase;
}
/* FECHANDO CONTEÚDO PRINCIPAL */

/* INÍCO CONTEÚDO SOBRE */
#sobre {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  flex-direction: column;
}

.sobre-titulo {
   text-align: center;
   font-size: 1.2rem;
   padding: 30px 30px 0px 30px;
   color: gray;
}

.sobre-titulo p {
  padding: 30px;
  width: 700px;
  margin: 0 auto;
}

.sobre-lista {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-lista ul {
  padding: 20px;
  margin-left: 20px;
}

.sobre-lista h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.sobre-lista img {
  width: 25%;
}
/* FIM DO CONTEÚDO SOBRE */

/* INÍCIO CONTEÚDO ESPECIALIDADES */
.especialidades {
  color: gray;
  margin: 0 auto;
  max-width: 1024px;
}

.titulo-especialidades {
  display: flex;
  margin-top: 50px;
  font-size: 1.2rem;
  text-align: center;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.titulo-especialidades p {
  width: 500px;
  margin: 10px auto;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  box-shadow: 1px 1px 10px grey;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #CCC;
}

.card img{
  width: 100%;
}

.card p {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.link-horarios {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.link-horarios a {
  width: 110px;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #00cad1;
  border: 1px solid #00cad1;
  border-radius: 2px 2px;
}
/* FIM CONTEÚDO ESPECIALIDADES */

/* INÍCO CONTEÚDO CONTATO */
#contato {
  color: gray;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.contato-content {
  margin: 25px auto;
  max-width: 1024px;
  text-align: center;
  line-height: 2.0rem;
}

.contato-content p {
  width: 500px;
  margin: 0 auto;
}

.contato-content p:last-child {
  width: 590px;
}

iframe {
  margin: 0 auto;
  margin-bottom: 70px;
}
/* FIM CONTEÚDO CONTATO */

/* INÍCIO RODAPÉ */
.footer {
  color: #fff;
  display: flex;
  max-width: 1024;
  padding: 30px;
  line-height: 30px;
  text-align: center;
  justify-content: center;
  background-color: #0d6e71;
}
/* FIM RODAPÉ */

/* RESPONSIVO (MAX-WIDTH 425PX) */
@media (min-width: 320px) and (max-width: 425px) {  

  #topo {
  height: 12vh;
  flex-direction: column;
}

.logo-topo img{
  height: 60px;
}

.links-topo {
  width: 95%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(13, 110, 113, 0.3);
}

.links-topo ul li {
  padding: 0 20px;
}

.links-topo a {
  font-size: 0.75rem;
}


main .recepcao {
  height: 200px;
}

main .recepcao h1 {
  font-size: 1.5rem;
}

.sobre-titulo{
  font-size: 1.0rem;
}

.sobre-titulo h2 {
  padding:25px 0 15px 0;
}

.sobre-titulo p {
  padding: 0;
  width: 380px;
  margin: 0 auto;
}

.sobre-lista {
  padding-top: 40px;
  font-size: 1.0rem;
}

.sobre-lista img {
  display: none;
}

.sobre-lista h2 {
  font-size: 1.2rem;
  text-align: center;
}

.titulo-especialidades {
  padding: 0;
  font-size: 1.2rem;
}

.titulo-especialidades h3 {
  padding-bottom: 10px;
}

.titulo-especialidades p {
  font-size: 1.0rem;
  width: 400px;
}

.cards {
  flex-direction: column;
}

.card {
  width: 80%;
  margin: 20px auto;
}

.contato-content {
  width: 90%;
  margin: 0 auto;
}

.contato-content p {
  line-height: normal;
  margin-bottom: 20px;
  width: 100%;
}

.contato-content p:last-child {
  width: 375px;
}

.footer div p {
  width: 400px;
}

}
/* FIM RESPONSIVO (MAX-WIDTH 425PX) */

/* INÍCIO RESPONSIVO (MIN-WIDTH: 426px) and (MAX-WIDTH: 768px) */
@media (min-width: 426px) and (max-width: 768px) {
main .recepcao {
    height: 300px;
}

.logo-topo img {
    height: 70px;
}

.sobre-lista img {
  display: none;
}

.cards {
  flex-flow: row wrap;
}

.card {
  width: 40%;
  margin: 20px auto;
}
}
/* FIM RESPONSIVO (MIN-WIDTH: 426px) and (MAX-WIDTH: 768px) */

/* INÍCIO RESPONSIVO (MIN-WIDTH: 768px) and (MAX-WIDTH: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  main .recepcao {
    height: 400px;
  }
}
/* FIM RESPONSIVO (MIN-WIDTH: 768px) and (MAX-WIDTH: 1024px) */

/* INÍCIO RESPONSIVO (MAX-WIDTH > 1024PX) */
@media (max-width > 1024px) {
  main .recepcao {
    height: 500px;
  }
}
/* FIM RESPONSIVO (MAX-WIDTH >  1024PX) */

/* INÍCIO  CONTEÚDO PRINCIPAL DA PÁGINA DE ESPECIALIDADES*/

.pag-especialidades h2 {
  color: gray;
  text-align: center;
}

.pag-especialidades nav {
  display: flex;
  justify-content: center;
}

.lista-pag-especialidades {
  width: 40%;
  margin: 30px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.lista-pag-especialidades li a{
  color: gray;
  text-decoration: none;
  border-bottom: 2px solid #00cad1;
}

#ortopedia {
  margin: auto;
  max-width: 1024px;
}

.tabela-texto {
  color: gray;
  display: flex;
  margin: 40px auto;
  align-items: center;
  flex-direction: column;
}

.tabela-texto h3 {
  margin-bottom: 20px;
}

.tabela-texto p {
  width: 50%;
  text-align: center;
}

.tabela-img {
  display: flex;
}

.tabela-img img {
  width: 40%;
}

.tabela-img table {
  width: 60%;
  line-height: 35px;
  border-spacing: 0;
}
.tabela-img table th {
  padding: 5px;
  color: #fff;
  text-align: left;
  background: #00cad1;
}